<div class="container mt-3 text-center">
  <%= link_to "Create a new list !", new_list_path, class: "btn btn-santa add-list" %>
  <div class="lists-list row justify-content-center">
    <% @lists.each do |list| %>
      <%= link_to list_tasks_path(list) do %>
      <div class="card col-10 col-sm-6 col-md-4 col-lg-3 justify-content-around">
        <div class="card-header d-flex justify-content-between">
          <%= list.name %>
          <div class="edit">
            <%= link_to edit_list_path(list) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to list_path(list), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <ul>
            <% list.tasks.each do |task| %>
              <li><%= task.description %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
