<div class="lists-list">
  <% @lists.each do |list| %>
    <%= link_to list_tasks_path(list) do %>
    <div class="card">
      <div class="card-header">
        <%= list.name %>
        <%= link_to edit_list_path(list) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to list_path(list), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <div class="card-body">
        <ul>
          <% list.tasks.each do |task| %>
            <li><%= task.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Create a new list", new_list_path %>
