<h3><%= @list.name %></h3>

<ul>
<%= simple_form_for([@list, @task]) do |f| %>
  <%= f.input :description, label: "What task do you want to add?" %>
  <%= f.submit "Add!" %>
<% end %>

<% @tasks.each do |task| %>
  <li>
    <%= task.description %>
  </li>
<% end %>
</ul>
